<html>
    <head>
        <title> News</title>
    <style>
        .content {
            width: 60%;
            margin-left: 20%;
            background-color:  white;
            
            
        }
        .type {
            margin-left: 20%;
            color: skyblue;
        }
        #head {
            
            
        }
        #content2 {
            margin-top:  1%;
            
        }
        body {
            
            
        }
        #slideImage {
            
           margin-left: 10%;
        }
        #head {
            
            margin-left: 36%;
        }   
    
    </style>    
    </head>
    
    <body>
        <h1 id="head"> Get your latest new here</h1>
        <h1 class="type">Sport Headline</h1>
        <div id="content1" class="content"> 
            <p> <%=news1%> </p>
        </div>
        <h1 class="type" >Africa Headline</h1>
        <div id="content2" class="content">
            <p> <%=news2%> </p>
            
        </div>
        <h1 class="type" >Bussiness Headline</h1>
        <div id="content3" class="content">
            <p> <%=news3%> </p>
            
        </div>
        
    </body>

</html>